# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=spotify_db

# Node.js Backend Configuration
PORT=3000

# MongoDB Connection
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# SendGrid API Key
SENDGRID_API_KEY=SG.your_sendgrid_api_key_here

# SQL Configuration
SQL_HOST=mysql
SQL_USER=root
SQL_PASSWORD=your_sql_password
SQL_DATABASE=spotify_db
SQL_PORT=3306
